[Unit]
Description=Signing Framework daemon
After=network.target sshd.service

[Service]
Type=simple
#PIDFile=/var/run/framework.pid
WorkingDirectory=/home/framework/signframework/src/signframework
EnvironmentFile=/home/framework/signframework/src/signframework/systemd/signframework.conf
ExecStart=/home/framework/signframework/src/signframework/framework $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s
User=framework
Group=framework

[Install]
WantedBy=multi-user.target
