# Notes Signer Framework Configuration File Sample
#
# NOTE: The items must remain in this order!
# The environment variable FRAMEWORK_CONFIG_FILE must point to this file.

# maximum characters in a line.  This is used for email address,
#	subject, body, and configuration files

line_max=4000

# maximum dropbox file size
file_max=10000

# Name to use as prefix of all email notifications
framework_name=PowerSignFramework

# CCA user profile password expiration (in months)

password_expire=12

# File name for the signer framework audit log

log=logs/framework.log

# Rooted !!! Base directory for dropbox
dropbox=/home/dropbox

# File name used to stop the framework

stop_file=stop

# File name used to restart the framework

restart_file=restart

# File names for the output response messages (response and audit messages)

out_body=obody.txt
notif_log=nlog.txt
full_email=email.txt

# Rooted !!! file names for the input and output attachments

in_attachment=/home/framework/sb-signing-framework/src/signframework/iatt.bin
out_attachment=/home/framework/sb-signing-framework/src/signframework/oatt.bin

# File name for the password master AES key token (used to decrypt the
# password string received in a user email)

key=masterkey.bin

# LDAP information for sender validation
# URL ldap://ldap.com:389
ldapurl=unused
# BASEDN ou=company,o=ldap.com
ldapbase=unused


# signer framework administrator email address
admins=1
framework@email.com

# mapping of project to project configuration file

# The format is project=configuration_filename

testproject=testproject.cfg
audit=audit.cfg
#admin=admin.cfg
password_change=password_change.cfg
getpubkey=getpubkey.cfg
getpubkeyecc=getpubkeyecc.cfg
