# Password change configuration file

# The parameters must be in this order
#
# program=program executable filename

program=password_change

# File name for the administrator audit log

log=logs/password_change.log

# files to be added to the program

needkey=false
needauxcfg=false
neediatt=false
needoatt=true
needpwd=true

# Project administrator

email=framework@email.com

# Notification receivers

notifs=0

# Authorized senders (all) (userid=email)

needsenders=false

